* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  height: 100%;
  text-align: center;
  background: #b8e1fc; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #b8e1fc 0%,
    #a9d2f3 10%,
    #90bae4 25%,
    #90bcea 37%,
    #90bff0 50%,
    #6ba8e5 51%,
    #a2daf5 83%,
    #bdf3fd 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #b8e1fc 0%,
    #a9d2f3 10%,
    #90bae4 25%,
    #90bcea 37%,
    #90bff0 50%,
    #6ba8e5 51%,
    #a2daf5 83%,
    #bdf3fd 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #b8e1fc 0%,
    #a9d2f3 10%,
    #90bae4 25%,
    #90bcea 37%,
    #90bff0 50%,
    #6ba8e5 51%,
    #a2daf5 83%,
    #bdf3fd 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#bdf3fd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.App-navbar {
  display: flex;
  background-color: #2e80b6;
  justify-content: space-around;
  padding: 250px 20%;
}

.App-navbar > * {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}

.App-navbar > *:hover {
  text-decoration: underline;
  font-weight: bolder;
}
