.Dog {
  width: 60%;
  max-width: 350px;
  margin: 40px auto 0 auto;
  background: white;
  -webkit-box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 8px 1px rgba(0, 0, 0, 0.2);
}

.Dog img {
  width: 100%;
}

.Dog ul {
  list-style: none;
  padding-left: 0;
  margin: 50px 0 20px 0;
  width: 100%;
}

.Dog ul li {
  padding: 20px;
  border-top: 2px solid rgb(220, 220, 220);
}

.Dog ul li:last-child {
  border-bottom: 2px solid rgb(220, 220, 220);
}

.Dog-backbtn {
  width: 100px;
  border: 2px solid red;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #2e80b6;
  color: white;
  font-size: 12px;
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.Dog-backbtn:hover {
  cursor: pointer;
  background-color: #134e76;
}
