.Dog {
  width: 60%;
  max-width: 350px;
  margin: 50px auto 0 auto;
  background: white;
}

.Dog img {
  width: 100%;
}

.Dog ul {
  list-style: none;
  padding-left: 0;
  margin: 50px 0;
  width: 100%;
}

.Dog ul li {
  /* margin: 20px 0; */
  padding: 20px;
  border-top: 2px solid rgb(220, 220, 220);
}

.Dog ul li:last-child {
  border-bottom: 2px solid rgb(220, 220, 220);
}

.Dog button {
  margin-bottom: 30px;
  padding: 10px;
  background-color: #2e80b6;
  color: white;
  font-size: 10px;
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.Dog button:hover {
  cursor: pointer;
  background-color: #134e76;
}
