.Dog {
  width: 60%;
  max-width: 500px;
  margin: 50px auto 0 auto;
  background: white;
}

.Dog img {
  width: 100%;
}

.Dog ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.Dog ul li {
  color: red;
  margin-bottom: 20px;
}
