.DogFinder {
  border: 2px solid red;
}

.DogFinder-box {
  display: flex;
  flex-flow: row wrap;
  border: 2px solid green;
  justify-content: center;
}

.DogFinder-dog-container {
  width: 20%;
}

.DogFinder-dog-container img {
  padding: 20px;
  width: 300px;
  height: auto;
}
